#buttonSection,#textInput, #lettersDiv, #wordsDiv,#buttonCount, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0 auto;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aqua;
    margin:20px;
    font-family: 'Indie Flower', cursive;
}
h1 {
    font-size: 20px;
    text-align: center;
    margin: 30px auto;
}
#buttonSection {
    width: 187px;
}

#textInput {
    font-family: 'Indie Flower', cursive;
    width: 187px;
    height: 100px;
}

#buttonCount {
    font-family: 'Indie Flower', cursive;
    height: 21px;
    width: 50px;
    background-color: rgb(0, 0, 0, 0.8);
    color: rgb(148, 255, 255);
    border: rgb(0, 75, 75) solid 1px;
    border-radius: 5px;
    font-size: 12px;
    float:right;
}

#buttonCount:hover {
    border: rgb(173, 123, 14) 1px solid; 
    background-color: rgb(255, 177, 10); 
    color: rgb(0, 0, 0);
    cursor: pointer; 
}



#textInput, #lettersDiv, #wordsDiv {
font-size: 11px;
line-height: 1.5;
font-family: 'Martel', serif;}

#lettersDiv{
    padding-top:40px;
    width: 180px;
}

#wordsDiv {
    padding-top:15px;
    width: 180px;
}
@media only screen and (min-width: 768px) {
    body {
        margin: 20px;
    }

    h1 {
        font-size: 35px;
        margin-top: 50px;}

    #buttonSection {
        margin-top: 50px;
        width: 500px;
    }
    #textInput {
        width: 500px;
        height: 150px;  
        border: black 10px solid;  
        border: rgb(255, 177, 10) 2px dashed;  
    }
    #buttonCount {
        height: 28px;
        width: 72px;   
        font-size: 17px;
    }

    #textInput, #lettersDiv, #wordsDiv {
        font-size: 14px;
        line-height: 1.8;
    }
    #lettersDiv{
        padding-top:45px;
        width: 480px;
        text-align:justify;
    }
    #wordsDiv {
        padding-top:15px;
        width: 480px;
        text-align:justify;
    }
}
